<h1><%= @cat.name %>'s page</h1>
<ul>
    <li> <%= @cat.name %> </li>
    <li> <%= @cat.birth_date %> </li>
    <li> <%= @cat.color %> </li>
    <li> <%= @cat.description %> </li>
    <li> <%= @cat.age %> </li>
    <li> <%= @cat.sex %> </li>
    <li><a href="<%= cats_url %>">More cats!</a></li>
</ul>
